body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffffff;
}

h2 {
  margin-bottom: 12px;
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
}

.categoria-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  justify-content: center;
}

.item-card {
  list-style: none;
  background: #000000; 
  border: 1px solid #ffffff;
  border-radius: 16px;
  width: 260px;
  padding: 18px;
  text-align: center;
  box-shadow: 0 6px 12px rgb(252, 252, 252);
  transition: transform 0.2s ease, border-color 0.3s ease;
}

.item-card:hover {
  transform: scale(1.05);
  border-color: #ffffff;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
}

.item-titulo {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.item-imagem {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid #ffffff;
}

.item-descricao {
  font-size: 14px;
  color: #ffffff;
}
